body {
	background: url(../Images/freewaysky.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}

nav {
	float: right;
	margin: 30px 30px 0 0;
	text-shadow: 5px 5px 7px black;
}

nav a {
	display: inline-block;
	margin-left: 20px;
	color: white;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	hover: white;
	font-family: 'Retro Computer';

}

h1 {
	font-size: 72px;
	font-weight: 700;
	color: white;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	text-align: center;
	clear: both;
	margin-bottom: 10px;
	font-family: 'Retro Computer';

}

#logo {
	height: 5%;
	width: 5%;
}

h1 span {
	display: inline-block;
	border: white dotted 10px;
	padding: 0.2em 0.5em;
	text-shadow: 5px 5px 7px black;
	margin-top: -55px;
}

p {
	text-align: center;
	font-weight: 700;
	text-transform: uppercase;
	color: white;
	letter-spacing: 0.05em;
	text-shadow: 5px 5px 7px black;
	font-family: 'Retro Computer';

}

div {
	font-family: 'Retro Computer';
	font-size: 24px;
	color: white;
	margin-top: 50px;
	text-align: center;
	margin-right: 200px;
	margin-left: 200px;
	text-shadow: 5px 5px 7px black;
}
